*{
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
  scroll-behavior: smooth;
  scrollbar-width: 0px;
}
nav{
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 112px;
}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  font-family: "Krub", serif;
  font-weight: 500;
  font-style: normal;
}

.gradient{
  background: linear-gradient(to right, #E62A74, #EF562F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-links a{
  text-decoration: none;
  color: #535353;
  font-weight: 600;
}
.hero{
  overflow-x: hidden;
  overflow-y: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  background: url("image/bg.png") center bottom/contain no-repeat;
  margin-bottom: 177px;
  padding-bottom: 191px;
}
.hero-penjelasan{
  font-size: 15px;
  animation: in-left 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  position: absolute;
  text-align: center;
}
.brainraid{
  animation: in-left 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -0.5s);
}
.krub{
  font-family: "Krub", serif;
  font-weight: 500;
  font-style: normal;
}
.krub1{
  font-family: "Krub", serif;
  font-weight: 700;
  font-style: normal;
}
.large{
  font-size: 5rem;
  margin-top: 2.8125rem;
  font-weight: bold;
}
.medium{
  font-size: 2rem;
  color: #535353;
  font-weight: 700;
}
.slogan{
  margin-top: 45px;
  animation: in-left 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -.6s);
  text-align: center;
}
.btn{
  margin-top: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}
.start-btn{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 348px;
  height: 88px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #d8d8d89d;
  text-decoration: none;
  padding: 45px 55px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  color: black;
  transition: all 0.3s ease;
}
#start{
  animation: keluar-kiri 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -.6s);
}
#about{
  animation: keluar-kanan 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -.6s);
}
.start-btn:hover{
  background-color: rgba(255, 255, 255, 0.8);
  transform: scale(1.1);
}
.start-now{
  background: linear-gradient(to right, #E62A74, #EF562F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: 700;
}
.start-free{
  margin-top: 12px;
  font-size: 1rem;
}
.version-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.judul{
  font-size: 2rem;
  font-weight: 700;
  color: #535353;
  margin-bottom: 40px;
  text-align: center;
  animation: masuk-kiri 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -.6s);
}
table {
  width: 95%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  border: 1px solid #E62A74;
  text-align: center;
  font-size: 1rem;
  animation: masuk-kanan 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -.6s);
}
.table-head{
  font-size: 1.5rem;
  color: #535353;
  font-weight: 700;
}
th, td {
  padding: 1.33375rem 12px;
  border-bottom: 1px solid #E62A74; /* Hanya garis horizontal */
}

tr:nth-child(even) {
  background-color: white;
}
.mati{
  color: #535353;
}
.v1::after{
  content: "NEW";
  background: linear-gradient(to right, #E62A74, #EF562F);
  border: none;
  padding: .2rem 1rem;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  position: absolute;
  transform: translate(10px, -5px);
}
footer{
  margin-top: 45px;
  background: linear-gradient(to right, #E62A74, #EF562F);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p{
  font-size: 1rem;
  color: white;
  font-weight: 500;
}
@keyframes in-left {
  to {
    transform: translateY(-1000px);

  }
}
@keyframes keluar-kiri {
  15%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(-1000px);
    opacity: 0;
  }
}

@keyframes keluar-kanan {
  15%{
    transform: translateX(0px);
  }
  100%{
    opacity: 0; 
    transform: translateX(1000px);
  }
}

@keyframes masuk-kanan {
  100%{
    transform: translateX(-667px);
  }
  0%{
    transform: translateX(1000px);
  }
}
@keyframes masuk-kiri {
  100%{
    transform: translateX(667px);
  }
  0%{
    transform: translateX(-1000px);
  }
}
@media screen and (max-width: 800px){
  .btn{
    flex-direction: column;
  }
  .hero{
    background: url(/image/bg.png) center/contain no-repeat;
  }
  
}
